<p id="notice"><%= notice %></p>

<h1>Task Staffs</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Task role</th>
      <th>Staff</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_staffs.each do |task_staff| %>
      <tr>
        <td><%= task_staff.task_id %></td>
        <td><%= task_staff.task_role_id %></td>
        <td><%= task_staff.staff_id %></td>
        <td><%= task_staff.start_time %></td>
        <td><%= task_staff.end_time %></td>
        <td><%= link_to 'Show', task_staff %></td>
        <td><%= link_to 'Edit', edit_task_staff_path(task_staff) %></td>
        <td><%= link_to 'Destroy', task_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Staff', new_task_staff_path %>
