<div class="btn-group d-flex" role="group" aria-label="...">
  <%= link_to t('Open'), assignments_path(:status => "Open"), data: { turbolinks: false }, class: 
      "btn btn-tab btn-info btn-tab col-xs-3 col-md-3 "  %> 
  <%= link_to t('Pending'), assignments_path(:status => "Pending", data: { turbolinks: false }), class: 
      "btn btn-tab btn-warning btn-tab col-xs-3 col-md-3 "  %> 
  <%= link_to t('Working'), assignments_path(:status => "Working"), data: { turbolinks: false }, class: 
      "btn btn-tab btn-danger btn-tab  col-xs-3 col-md-3 "  %> 
  <%= link_to t('All'), assignments_path, data: { turbolinks: false }, class: 
      "btn btn-tab btn-secondary btn-tab  col-xs-3 col-md-3 "  %>
</div>

  <div class="py-2">
    <div class="container">
      <div class="row hidden-md-up">
          <% @assignments.each do |assignment| %>
        <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                 <%= link_to assignment.id, assignment, data: { turbolinks: false }, class: "btn btn-tab btn-info btn-tab  col-xs-3 col-md-3"  %>

                <%= assignment.work.display_name %> 
              </div>
              <div class="card-body">
                <h6 class="card-title"><%= assignment.name %></h6>
                <p class="card-text"><b><%= assignment.start_datetime.strftime('%y-%m-%e %H:%M') %></b> : <%= assignment.end_datetime.strftime('%y-%m-%e %H:%M') %></p>
                <p class="card-text"><b><%= t(assignment.status) %></b> (<%= t(assignment.aasm_state) %>)</p>
                <p class="card-text"><%= name_avatar(assignment.team.display_name, 24) %><%= assignment.team.display_name %>
                (<%= name_avatar(assignment.operation_team.display_name, 24) %><%= assignment.operation_team.display_name %>)
              </p>
              </div>
            </div>
        </div>
          <% end %>
      </div><br>
    </div>
  </div>

    <%= paginate @assignments %>
  </div>
