<p id="notice"><%= notice %></p>

<p>
  <strong>Foldable:</strong>
  <%= @folder.foldable_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @folder.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @folder.active %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
