<fieldset>

    <div class="row ">
      <div  class="col-xs-4 col-md-4 ">
          <%= f.hidden_field :task_id, :value => @task.id %>
          <%= f.association :material, :collection => Master.Material.order('code ASC'), label: false %>
      </div>
      <div  class="col-xs-3 col-md-3 ">
        <%= f.input :quantity, label: false  %>        
      </div>
      <div  class="col-xs-3 col-md-3 ">
        <%= f.input :cost, label: false  %>        
      </div>
      <div  class="form-actions col-xs-2 col-md-2 ">
         <%= link_to '<i class="fa fa-trash fa-2x" style="color:red"></i>'.html_safe, '#', class: "remove_fields"  %>   
      </div>
    </div>


</fieldset>