<p id="notice"><%= notice %></p>

<p>
  <strong>Thing:</strong>
  <%= @reading.thing %>
</p>

<p>
  <strong>Reading time:</strong>
  <%= @reading.reading_time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @reading.content %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @reading.thing_id %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
