<div class="card" >
  <div class="card-header">
    <h2>
        <% if @master.parent_id?  %>
          <%= @master.parent.display_name %> 
        <% else %> 
            <%= t('master')   %> 
        <% end %>
    </h2>
  </div>
  <div class="card-body">
    <%= simple_form_for(@master) do |f| %>

        <div class="form-inputs">
          <%= f.hidden_field :parent_id %>
          <%= f.input :code %>
          <%= f.input :name %>
          <%= f.input :local_name %>
          <%= f.input :description, as: :rich_text_area  %>
          
        </div>

          <div class="form-actions">
            <%= button_tag type: 'submit', class: "button my-button" do %>
                <i class="fa fa-save fa-2x" style="color:blue" aria-hidden="true"></i>
            <% end %>
          </div>
      <% end %>

  </div>
  <div class="card-footer text-muted">
    <%= link_to '<i class="fa fa-file-alt fa-2x" style="color:blue"></i>'.html_safe,  @master, data: { turbolinks: false }  %>
  </div>
</div>