<title><%= t('brand') %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'assignment_calendar', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'assignments' %>
<%= javascript_pack_tag 'teams' %>
<%= javascript_pack_tag 'tasks' %>
<%= javascript_pack_tag 'cable' %>

<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
 $( function() {
    $( '#accordion' ).accordion({
    active: false,
    heightStyle: "content",
    collapsible: true
    });
 } );
 </script>
 
<!-- Lighthouse Details -->
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#C50001"/>

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="fieldConnect">

<meta name="msapplication-TileImage" content="/app/assets/images/icon-144.png">
<meta name="msapplication-TileColor" content="#fff">

<link rel="apple-touch-icon" href="/example.png">

<%= favicon_link_tag "Icon-76.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "76x76" %>
<%= favicon_link_tag "Icon-120.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "120x120" %>
<%= favicon_link_tag "Icon-152.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "152x152" %>
<%= favicon_link_tag "Icon-167.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "167x167" %>
<%= favicon_link_tag "Icon-180.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "180x180" %>

<%= favicon_link_tag "favicon-16x16.png", rel: 'icon', type: 'image/png', sizes: "16x16" %>
<%= favicon_link_tag "favicon-32x32.png", rel: 'icon', type: 'image/png', sizes: "32x32" %>