<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @ticket.no %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @ticket.actor_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ticket.message %>
</p>

<p>
  <strong>Notifiable:</strong>
  <%= @ticket.notifiable_id %>
</p>

<p>
  <strong>Notifiable type:</strong>
  <%= @ticket.notifiable_type %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
