<p id="notice"><%= notice %></p>

<h1>Assignment Items</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Work item</th>
      <th>serial Number</th>
      <th>Rating</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignment_items.each do |assignment_item| %>
      <tr>
        <td><%= assignment_item.assignment_id %></td>
        <td><%= assignment_item.work_item %></td>
        <td><%= assignment_item.serial_number %></td>
        <td><%= assignment_item.rating %></td>
        <td><%= assignment_item.remarks %></td>
        <td><%= link_to 'Show', assignment_item %></td>
        <td><%= link_to 'Edit', edit_assignment_item_path(assignment_item) %></td>
        <td><%= link_to 'Destroy', assignment_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment Item', new_assignment_item_path %>
