
<%= simple_form_for(@defect) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :assignment %>
    <%= f.input :issue_id %>
    <%= f.input :rating %>
    <%= f.input :remarks %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
