<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_material.task_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @task_material.material_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @task_material.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @task_material.cost %>
</p>

<%= link_to 'Edit', edit_task_material_path(@task_material) %> |
<%= link_to 'Back', task_materials_path %>
