<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @site.client_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @site.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Local name:</strong>
  <%= @site.local_name %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
